ul.jquerymenu li.parent {
  background-image: none;
  list-style: none;
  list-style-image: none;
}

ul.jquerymenu li.closed ul {
  display: none;
}

ul.jquerymenu li span.parent {
  display: block;
  height: 12px;
  margin-left: -15px;
  margin-top: 4px;
  position: absolute;
  width: 12px;
}

.ie ul.jquerymenu li span.parent {
  margin-top: 4px;
}

ul.jquerymenu li.parent span.closed {
  background-image: url(controls.png);
  background-position: -16px -2px;
  background-repeat: no-repeat;
}

ul.jquerymenu li.parent span.open {
  background-image: url(controls.png);
  background-position: 0 0px;
  background-repeat: no-repeat;
}

ul.jquerymenu li.parent span.parent {
  cursor: pointer;
}

ul.jquerymenu li .jqm_link_edit {
  display: none;
  margin-left: -40px;
  margin-top: 2px;
  position: absolute;
  width: 45px;
}
